<%- include("header") %>
<div class="layout">
    <h1 class="text-center">第一页</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-success" href="/add" role="button">添加一个</a>
        </div>
        <div class="panel-body">
            <table class="table table-bordered" style="text-align: center;">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">姓名</th>
                    <th scope="col">密码</th>
                    <th scope="col">年龄</th>
                    <th scope="col">性别</th>
                    <th scope="col">电话</th>
                    <th scope="col">图像</th>
                    <th scope="col">地址</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                <% if(list.length === 0) { %>
                <tr>
                    <td colspan="9"><h1> 暂无数据...</h1></td>
                </tr>
                <% } else { %>
                <% for(var i = 0; i < list.length; i++) { %>
                <tr>
                    <td><%= list[i]._id %></td>
                    <td><%= list[i].name %></td>
                    <td><%= list[i].password %></td>
                    <td><%= list[i].age %></td>
                    <td><%= list[i].gender === 0 ? '男' : '女' %></td>
                    <td><%= list[i].telephone %></td>
                    <td><img src="uploads/<%= list[i].picture %>" alt=""></td>
                    <td><%= list[i].address %></td>
                    <td>
                        <a href="javascript:void(0);" class="btn_del" data-id="<%= list[i]._id %>">删除</a>|
                        <a href="/update/?id=<%= list[i]._id %>" class="btn_mdf">修改</a>|
                        <a href="javascript:void(0);" class="btn_dld" data-id="<%= list[i].picture %>">下载</a>
                    </td>
                </tr>
                <% } %>
                <% } %>
                </tbody>
            </table>

            <% if(total !== 0) { %>
            <nav class="text-center" aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="javascript:void(0);" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <% for(var i = 1; i <= total; i++) { %>
                    <li class="page_num"><a href="/?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                    <li>
                        <a href="javascript:void(0);" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <% } %>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        /*
        *
        * 构造函数
        *
        * */
        function Index() {
            this.page_num = $(".page_num");
        }

        Index.prototype = {
            constructor: Index,
            init: function () {
                this.setCurrentPage();
                this.events();
            },
            events: function () {
                let controls = {
                    "delete": "/controller/delete",
                    "update": "/controller/update",
                    "findbyid": "/controller/findById"
                };
                let _delete = $(".btn_del");
                let _modify = $(".btn_mdf");
                let _dnload = $(".btn_dld");

                _delete.on('click', function () {
                    let id = $(this).attr('data-id');
                    let flag = confirm("确认删除该条信息吗?");
                    if (flag) {
                        $.post(controls.delete, {id: id}, function (res) {
                            if (res.code === 200) {
                                location.reload();
                            }
                        })
                    }
                });

                _dnload.on('click', function () {
                    let name = $(this).attr('data-id');
                    window.open('http://' + location.host + '/controller/download/?name=' + name, '_blank');
                })

                _modify.on('click', function () {
                    let id = $(this).attr('data-id');
                    $.post(controls.findbyid, {id: id}, function (res) {
                        console.log(res);
                    })
                })


            },
            setCurrentPage: function () {
                let index = 1;
                let page = location.href.split("?");
                if (page.length > 1) {
                    index = page[1].split("=")[1] || 1;
                }
                this.page_num.eq(index - 1).addClass("active").siblings().removeClass("active");
            }
        }

        //调用
        new Index().init();
    })
</script>
<%- include("footer") %>
